<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
      <add key="TempRootPath" value="c:\temp\"/>
      <add key="NoOfColumnInOneRow" value="6"/>
      <add key="TempFolderPrefix" value="RP_Temp"/>
      <add key="ExcelStartRow" value="3"/>
  </appSettings>
</configuration>